exps/*
vecmol/dataset/data/*
vecmol/wandb/*
vecmol/outputs/*

vecmol/dataset/__pycache__/*
vecmol/models/__pycache__/*
vecmol/.hydra/*
vecmol/__pycache__/*
vecmol/dataset/__pycache__/*
__pycache__/
*.py[cod]
*$py.class
debug.log
*.pyc
.vscode/*

graphs/*
figures/*
zzz_rubbish_analyze/*
zzz_trash/*
outputs/*
REPORT/*
paper/*
evaluate/*

vecmol/analysis
vecmol/configs/field_quality_drugs.yaml
vecmol/configs/field_quality_qm9.yaml
vecmol/configs/field_recon_drugs.yaml
vecmol/configs/field_recon_qm9.yaml
vecmol/configs/noise_robustness_drugs.yaml
vecmol/configs/noise_robustness_qm9.yaml

vecmol/configs/train_nf_qm9_segnn.yaml
vecmol/configs/sample_diffusion_drugs.yaml
vecmol/configs/encoder/segnn_encoder.yaml
vecmol/configs/decoder/segnn_decoder.yaml
vecmol/models/decoder_segnn.py
vecmol/models/encoder_segnn.py
vecmol/models/segnn

*.ipynb
vecmol/notebooks/*

