exps/*
funcmol/dataset/data/*
funcmol/wandb/*
funcmol/outputs/*

# Python
funcmol/dataset/__pycache__/*
funcmol/models/__pycache__/*
funcmol/.hydra/*
funcmol/__pycache__/*
funcmol/dataset/__pycache__/*
__pycache__/
*.py[cod]
*$py.class
debug.log
*.pyc

graphs/*
figures/*
zzz_rubbish_analyze/*
zzz_trash/*
outputs/*
REPORT/*
paper/*
evaluate/*

funcmol/analysis
funcmol/configs/field_quality_drugs.yaml
funcmol/configs/field_quality_qm9.yaml
funcmol/configs/field_recon_drugs.yaml
funcmol/configs/field_recon_qm9.yaml
funcmol/configs/noise_robustness_drugs.yaml
funcmol/configs/noise_robustness_qm9.yaml

funcmol/configs/train_nf_qm9_segnn.yaml
funcmol/configs/sample_fm_drugs.yaml
funcmol/configs/encoder/segnn_encoder.yaml
funcmol/configs/decoder/segnn_decoder.yaml
funcmol/models/decoder_segnn.py
funcmol/models/encoder_segnn.py
