exps/*
funcmol/dataset/data/*
funcmol/wandb/*
funcmol/outputs/*

# Python
funcmol/dataset/__pycache__/*
funcmol/models/__pycache__/*
funcmol/.hydra/*
__pycache__/
*.py[cod]
*$py.class
debug.log
*.pyc

graphs/*
zzz_trash/*
temp.py
outputs/*
