defaults:
  - dset: qm9 
  - converter: gnf_converter_qm9
  - override hydra/job_logging: custom
  - _self_

wandb: False
seed: 1234
nf_pretrained_path: exps/neural_field/nf_qm9/20260124/lightning_logs/version_0/checkpoints/last.ckpt

# debug options
debug: False

# overwrite
split: test # train, val, test
dset:
  data_aug: True
  batch_size: 32

# data augmentation
use_data_augmentation: False
num_augmentations: 1
data_augmentation:
  apply_rotation: True
  apply_translation: False

hydra:
  run:
    dir: outputs
  job:
    config:
      override_dirname:
        kv_sep: ""
        item_sep: "_"
        exclude_keys: ["exp_dir"]
