# Field Reconstruction Evaluation Configuration

defaults:
  - dset: qm9  # 或 drugs
  - converter: gnf_converter_qm9  # 或 gnf_converter_drugs
  - encoder: gnn  # 添加 encoder 配置
  - decoder: decoder_global  # 添加 decoder 配置
  - override hydra/job_logging: custom
  - _self_

seed: 1234  # 随机种子，确保采样结果可重现

# 评估参数
max_samples: null  # 要评估的样本数量，null表示使用整个数据集，也可以指定具体数量如100
split: val  # 数据集分割：train/val/test，默认使用val数据集
# 手动指定要测试的样本索引（可选，优先级高于max_samples）
# 如果设置了此参数，将使用指定的索引列表，忽略max_samples参数
# sample_indices: [2,7,74,83,108,158,186,375,404,433,35,90,145,146,155,231,233,234,241,245,269,270,271,288,292,363,366,373,452]
# sample_indices: [35,90,145,146,155,231,233,234,241,245,269,270,271,288,292,363,366,373,452]  # 具体的索引列表，null表示不手动指定
sample_indices: [31]

# Field模式设置
field_mode: nf_field  # 'gt_field' 或 'nf_field'

# Field方法设置
field_methods: ['tanh']  # 要比较的field方法，现在已经确定了使用tanh方法

# 模型路径（仅在nf_field模式下需要）
nf_pretrained_path: /home/huayuchen/Neurl-voxel/exps/neural_field/nf_qm9/20251121/lightning_logs/version_1/checkpoints/model-epoch=999.ckpt
# nf_pretrained_path: /home/huayuchen/Neurl-voxel/exps/neural_field/nf_qm9/20251120/lightning_logs/version_0/checkpoints/model-epoch=259.ckpt
# 注意：输出目录将基于此路径自动创建，如: exps/neural_field/nf_qm9_20250804_153549_358664

# Hydra 设置
hydra:
  run:
    dir: ../exps/field_evaluation # NOTE：不得不设置一个这个参数

