defaults:
  - override hydra/job_logging: custom
  - _self_

wandb: False
seed: 1234
nf_pretrained_path: exps/neural_field/nf_qm9
n_dataset_iterations: 10

dirname: ${nf_pretrained_path}/codes/${split}

# overwrite
split: train
dset:
  data_aug: True
  batch_size: 500  # 原来是2000，减少批次大小以节省内存

# set the running dir
hydra:
  run:
    dir: ./${dirname}
  job:
    config:
      override_dirname:
        kv_sep: ""
        item_sep: "_"
        exclude_keys: ["exp_dir"]
