defaults:
  - dset: qm9
  - encoder: gnn
  - decoder: decoder_global
  - denoiser: gnn
  - wjs: wjs_training_small
  - override hydra/job_logging: custom
  - _self_

debug: False
wandb: False
seed: 1234
# nf_pretrained_path: ../exps/neural_field/nf_qm9
nf_pretrained_path: ../exps/neural_field/nf_qm9_20250812_181425_750832
exp_dir: ../exps/funcmol
exp_name: "fm_${dset.dset_name}_${now:%Y%m%d}_${now:%H%M%S}_${now:%f}"
dirname: "${exp_dir}/${exp_name}"
reload_model_path: null

# data params
smooth_sigma: 0.5 # 2.0, 1.0, 0.5
normalize_codes: 1
on_the_fly: False  # use False if codes are computed offline.
codes_dir: "${nf_pretrained_path}/codes/"

# training params
num_epochs: 50000
dset:
  batch_size: 4
save_every: 10  # Save checkpoint
decoder:
  code_dim: 128
num_augmentations: null

# optim params
lr: 5e-5  # 降低学习率以提高稳定性
use_lr_schedule: 0
num_warmup_iter: 4000
wd: 1e-2
ema_decay: 0.9999
max_grad_norm: 1.0

# set the running dir
hydra:
  run:
    dir: ${dirname}
  job:
    config:
      override_dirname:
        kv_sep: ""
        item_sep: "_"
        exclude_keys: ["exp_dir"]
