defaults:
  - dset: qm9
  - encoder: gnn
  - decoder: decoder_global
  - override hydra/job_logging: custom
  - _self_

debug: False
wandb: False
seed: 1234
exp_dir: exps/neural_field
exp_name: "nf_${dset.dset_name}_${now:%Y%m%d}_${now:%H%M%S}_${now:%f}"
dirname: "${exp_dir}/${exp_name}"
reload_model_path: null
n_samples: None

# training params
n_epochs: 1000
eval_every: 1
use_ema: False
lr_decay: False
vis_every: 1000  # 每100个batch可视化一次（包括loss曲线和分子结构）
field_loss_weight: 1.0  # 神经场损失的权重
recon_loss_weight: 1.0  # 重建损失的权重

# override config 这里decoder的参数是根据NF的代码来的，添加了spatial参数
decoder:
  code_dim: 256
  spatial: false
  hidden_dim: 256
  coord_dim: 3
  n_layers: 3
  input_scale: 32
  grid_size: 8
  k_neighbors: 32

# set the running dir
hydra:
  run:
    dir: ./${dirname}
  job:
    config:
      override_dirname:
        kv_sep: ""
        item_sep: "_"
        exclude_keys: ["exp_dir"]

# 数据集参数，也是新添加的
dset:
  dset_name: qm9
  data_dir: dataset/data
  data_aug: true
  grid_dim: 8 # 注意，之前出过问题，就是因为在EGNNVectorField的init里也设置过grid_dim，但是值不一样，导致维度不匹配
  resolution: 0.25
  atomic_radius: 0.5
  elements:
  - C
  - H
  - O
  - 'N'
  - F
  n_channels: 5
  n_points: 100
  subsampling_ratio: 2
  num_workers: 4
  batch_size: 16
  lr_enc: 0.0001
  lr_dec: 0.0005


gnf_converter:
  sigma: 0.9
  n_query_points: 2000
  n_iter: 1000
  step_size: 0.001
  merge_threshold: 2
