defaults:
  - dset: qm9
  - encoder: cnn
  - decoder: decoder_global
  - override hydra/job_logging: custom
  - _self_

debug: False
wandb: False
seed: 1234
exp_dir: exps/neural_field
exp_name: "nf_${dset.dset_name}_${now:%Y%m%d}_${now:%H%M%S}_${now:%f}"
dirname: "${exp_dir}/${exp_name}"
reload_model_path: null
n_samples: None

# training params
n_epochs: 1000
eval_every: 5
use_ema: False
lr_decay: False

# override config 这里decoder的参数是根据NF的代码来的，添加了spatial参数
decoder:
  code_dim: 1024
  spatial: false
  hidden_dim: 1024
  coord_dim: 3
  n_layers: 4
  input_scale: 64
  grid_size: 8
  feature_dim: 32
  k_neighbors: 8

# set the running dir
hydra:
  run:
    dir: ./${dirname}
  job:
    config:
      override_dirname:
        kv_sep: ""
        item_sep: "_"
        exclude_keys: ["exp_dir"]

# 数据集参数，也是新添加的
dset:
  dset_name: qm9
  data_dir: dataset/data
  data_aug: true
  grid_dim: 32
  resolution: 0.25
  atomic_radius: 0.5
  elements:
  - C
  - H
  - O
  - 'N'
  - F
  n_channels: 15
  n_points: 500
  subsampling_ratio: 2
  num_workers: 2
  batch_size: 16
  lr_enc: 0.0001
  lr_dec: 0.0005

encoder:
  use_attention: false
  level_channels:
  - 256
  - 512
  - 1024
  smaller: false
