defaults:
  - dset: qm9
  - converter: gnf_converter
  - encoder: gnn
  - decoder: decoder_global
  - override hydra/job_logging: custom
  - _self_

debug: False
debug_one_mol: False
debug_subset: False
wandb: False
seed: 1234
exp_dir: exps/neural_field
exp_name: "nf_${dset.dset_name}_${now:%Y%m%d}_${now:%H%M%S}_${now:%f}"
dirname: "${exp_dir}/${exp_name}"
reload_model_path: null
n_samples: None

# training params
n_epochs: 1000
eval_every: 1
use_ema: False
lr_decay: False
field_loss_weight: 1.0  # 神经场损失的权重
recon_loss_weight: 1.0  # 重建损失的权重

# override config 这里decoder的参数是根据NF的代码来的，添加了spatial参数
decoder:
  code_dim: 256
  spatial: false
  hidden_dim: 256
  coord_dim: 3
  n_layers: 3
  input_scale: 32
  grid_size: 8
  k_neighbors: 32

# set the running dir
hydra:
  run:
    dir: ./${dirname}
  job:
    config:
      override_dirname:
        kv_sep: ""
        item_sep: "_"
        exclude_keys: ["exp_dir"]

