defaults:
  - dset: qm9
  - converter: gnf_converter_qm9
  - encoder: gnn
  - decoder: decoder_global
  - override hydra/job_logging: custom
  - _self_

debug: False
debug_one_mol: False
debug_subset: False
wandb: False
seed: 1234
exp_dir: ../exps/neural_field
# exp_name: "nf_${dset.dset_name}/${now:%Y%m%d}/${now:%H%M%S}_${now:%f}"
exp_name: "nf_${dset.dset_name}/${now:%Y%m%d}"
dirname: "${exp_dir}/${exp_name}"
reload_model_path: null
auto_resume: False  # 是否自动加载最新的checkpoint继续训练
n_samples: None

# training params
ckpt_every_n_epochs: 10  # 每隔多少epoch保存一次ckpt
n_epochs: 1000
eval_every: 1
use_ema: False
lr_decay: False

# set the running dir
hydra:
  run:
    dir: ${dirname}
  job:
    config:
      override_dirname:
        kv_sep: ""
        item_sep: "_"
        exclude_keys: ["exp_dir"]

